<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.secondhandtrade.auth.mapper.UserMapper">

    <!--插入用户数据-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (username, password, name, nickname, avatar_url, phone, role, status, auth_type, github_username, create_time, update_time)
        values (#{username}, #{password}, #{name}, #{nickname},
                #{avatarUrl}, #{phone}, #{role}, #{status},
                #{authType}, #{githubUsername}, #{createTime}, #{updateTime})
    </insert>

    <!--根据用户名查询用户-->
    <select id="getByUsername" resultType="User">
        select * from user where username = #{username}
    </select>

    <!--根据github用户名查询用户-->
    <select id="getByGithubUsername" resultType="User">
        select * from user where github_username = #{githubUsername}
    </select>

    <!--【管理端】用户分页查询-->
    <select id="pageQuery" resultType="User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                and (name like concat('%', #{name}, '%') or nickname like concat('%', #{name}, '%'))
            </if>
        </where>
        order by create_time desc
    </select>

    <!--动态编辑用户信息-->
    <update id="update" parameterType="User">
        update user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据id查询用户信息-->
    <select id="getById" resultType="User">
        select * from user where id = #{id}
    </select>

</mapper>

