<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.secondhandtrade.server.mapper.CategoryMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into category (name, sort_order, create_time, update_time)
        values (#{name}, #{sortOrder}, #{createTime}, #{updateTime})
    </insert>

    <update id="update">
        update category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from category where id = #{id}
    </delete>

    <select id="pageQuery" resultType="Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by sort_order asc, create_time desc
    </select>

    <select id="list" resultType="Category">
        select * from category order by sort_order asc, create_time desc
    </select>

</mapper>
