<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.secondhandtrade.server.mapper.GoodsMapper">

    <!--插入商品数据-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into goods (seller_id, category_id, name, description, price, images, status, stock, version, create_time, update_time)
        values (#{sellerId}, #{categoryId}, #{name}, #{description}, #{price}, #{images}, #{status}, #{stock}, #{version}, #{createTime}, #{updateTime})
    </insert>

    <select id="getById" resultType="Goods">
        select * from goods where id = #{id}
    </select>

    <!-- 根据id查询商品信息并加锁(悲观锁) -->
    <!--当这条SQL在事务中执行时，MySQL会对查询到的这行数据施加一个排他锁-->
    <select id="getByIdForUpdate" resultType="Goods">
        select * from goods where id = #{id} for update
    </select>

    <!--【管理端】动态条件分页查询-->
    <select id="pageQuery" resultType="Goods">
        select * from goods
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--动态修改商品信息-->
    <update id="update">
        update goods
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="description != null">description = #{description},</if>
            <if test="images != null">images = #{images},</if>
            <if test="status != null">status = #{status},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            version = version + 1,
        </set>
        where id = #{id} and version = #{version}
    </update>

    <!--【公共】动态条件分页查询-->
    <select id="pageQueryPublic" resultType="Goods">
        select * from goods
        <where>
            status = 0
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--根据id删除商品-->
    <delete id="deleteById">
        delete from goods where id = #{id}
    </delete>

    <!--根据卖家ID查询其发布的商品列表-->
    <select id="getBySellerId" resultType="Goods">
        select * from goods where seller_id = #{sellerId} order by create_time desc
    </select>

    <!-- 更新商品库存 -->
    <update id="updateStock">
        update goods set stock = #{stock}, version = #{version} + 1, update_time = #{updateTime} where id = #{id} and version = #{version}
    </update>

</mapper>
