<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.secondhandtrade.server.mapper.OrderDetailsMapper">

    <insert id="insertBatch">
        insert into order_details
        (order_id, goods_id, goods_name, goods_image, price, quantity, create_time, update_time)
        values
        <foreach collection="list" item="od" separator=",">
            (#{od.orderId}, #{od.goodsId}, #{od.goodsName}, #{od.goodsImage}, #{od.price}, #{od.quantity}, #{od.createTime}, #{od.updateTime})
        </foreach>
    </insert>

    <select id="getByOrderId" resultType="OrderDetails">
        select * from order_details where order_id = #{orderId}
    </select>

</mapper>
