<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yw.secondhandtrade.mapper.EmployeeMapper">

    <!--插入员工数据-->
    <insert id="insert">
        insert into employee (username, password, name, phone, status, create_time, update_time)
            values (#{username}, #{password}, #{name}, #{phone}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <!--根据用户名查询员工-->
    <select id="getByUsername" resultType="com.yw.secondhandtrade.pojo.entity.Employee">
        select * from employee where username = #{username}
    </select>

    <!--员工分页查询-->
    <select id="pageQuery" resultType="com.yw.secondhandtrade.pojo.entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <!--编辑员工信息-->
    <update id="update" parameterType="Employee">
        update employee
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据id查询员工信息-->
    <select id="getById" resultType="com.yw.secondhandtrade.pojo.entity.Employee">
        select * from employee where id = #{id}
    </select>

</mapper>
